@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 48px;  font-family: 'Tangerine', serif;
    text-align: center;
    width: auto;
    background-color: #7fffd4;
}
body {
    font-family: 'Tangerine', serif;
    font-size: 60px;
    text-align: center;
    margin: auto;
    background-color: mistyrose;
    padding: 90px 40px 40px 40px;
}
h1 {
    font-size: 84px;
    text-align: center;
}
h2{
    font-size: 55px;
    text-align: center;
}
p {
    color: black;
    text-align: center;
}
h3  {
    font-size: 70px;
    text-align: center;
}